

.dropdown{

    width: 100%;
    position: relative;
}





@media (min-width: 320px){
    .dropdown .dropdown-button {
        background: #EA738D;
        border: 6px solid #00246B;
        border-radius: 30px;
        box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
        font-weight: bold;
        color: #333;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        height: 1rem;
        align-items: center;
        box-shadow: #00246B 0px 5px 15px;
    }

    .dropdown .dropdown-content{
        position: absolute;
        top: 110%;
        background: #CADCFC;
        box-shadow: #00246B 0px 5px 15px;
        font-weight: 500;
        color: #333;
        left: 4%;
        width: 85%;
        
        overflow-y: scroll;
        height: 10rem;
        border: solid 6px #EA738D;
        border-top: none;
        border-radius: 5px;
        z-index: 1;
    }   

    .dropdown-text{
        width: 50%;
        background-color: #00246B;
        margin-right: auto;
        height: 100%;
        border-radius: 0.8rem;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        box-shadow: #00246B 0px 5px 15px
    
    }
    
    .dropdown-text h2{
        font-family: "Noto Sans JP", sans-serif;
        color: #EA738D;
        font-size: 0.7rem;
        user-select: none;
    }
    .dropdown-content .dropdown-item{
        padding-top: 1rem;
        padding-left: 0.4rem;
        padding-right: 0.4rem;
    }


    
.drop-down-image{
    
    width: 6%;
}

}

