

  



  
@media screen and (min-width: 320px) {
    .main-container{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        background-color: white;
        height: 100%;
        
    }
    
    
    .header-ls{
        margin-top: 5%;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        
    }
    
    .heading-ls{    
        font-family: "Archivo Black", sans-serif;
        font-weight: 200;
        font-size: 1.5rem;
        font-style: normal;   
        color: #fdfdfe;
        color: #00246B;
        user-select: none;  
      }
    
    
    .underline{
        margin-top: 1rem;
        width: 50%;
        height: 0.5rem;
        background-color: #EA738D;
        border-radius: 30px;
    }
    
    .input-form{
        width: 100%;
        height: 50%;
        margin-top: 10%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        overflow-y: scroll;
        
    }
    
    .input-ls{
        margin-top: 5%;
        display: flex;
        justify-content: space-around;
        align-items:center;
        width: 90%;
        height: 3rem;
        border: 5px solid #00246B;
        background-color: #EA738D;
        border-radius: 40px;
        z-index: 12;
    }
    
    .input-ls img{
        margin-left: 4%;
        width: 9%;
    }
    
    .input-input-ls{
        border: 5px solid #00246B;
        margin-left: auto;
        z-index: 0;
        font-family: "Archivo Black", sans-serif;
        text-align: center;
        outline: none;
        font-size:130%;
        height: 100%;
        width: 80%;
        border-radius: 40px;
        padding: 0;
    }
    
    .submit-container{
        display: flex;
        width: 90%;
        flex-direction: row;
        margin-bottom: 2%;
    }
    
    .sub-btn{
        margin-top: 5%;
        width: 50%;
        background-color: white;
        outline: none;
        border-radius: 2rem;
        border: none;
        box-shadow: #EA738D 4px 4px 0 0;
        font-family: "Noto Sans JP", sans-serif;
        color: #00246B;
        margin-bottom: 2%;
        font-size: 1.4rem;
        font-weight: 600;
    }

    .submit{
        font-family: "Archivo Black", sans-serif;
        border-bottom: 2px solid #00246B;
        color: #EA738D;
        cursor: pointer;
        display: inline-block;
        font-weight: 600;
        font-size: 110%;
        line-height: 50px;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        width: 100%;
    }
    
    
    .gray{
        background-color: white;
        color: gray;
        border-bottom: none;

    }
    
    .admin-redirect{
        font-family: "Archivo Black", sans-serif;
        font-weight: 100;
        color: #EA738D;
        font-size: 18px;
        user-select: none;
    }
    
    .admin-redirect span{
        color: #00246B;
        cursor: pointer;
    }
    
    
    

}


@media screen and (min-width: 576px) {
    .input-form{
        margin-top: 2%;
        height: 70%;    
    }
}


@media screen and (min-width: 1200px) {
    .input-form{
        margin-top: 2%;
        height: 70%;    
    }

    .input-ls img{
        margin-left: 4%;
        width: 6%;
    }
    
}

