



.nf-image-add{
    display: flex;
    width: 80%;
    background:none;
    outline: none;
    border: none;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    color: white;
}



.nf-save-btn:hover{ 
    transform: scale(1.05);
}






@media (min-width: 320px) {
    
.nf-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items:  center;
    margin-bottom: 2%;
}
.nf-col-container{
        border-radius: 2rem;
        background-color: #00246B;
        height: 90%;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: center;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
        margin-top: 2%;
        width: 90%;
    }

    .nf-basic-info{
        width: 90%;
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: #CADCFC;
        border-radius: 2rem;
        box-shadow: #EA738D 0px 9px 20px, #CADCFC 0px 4px 112px;
    }

    .nf-caption{
        
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CADCFC;
    border-radius: 2rem;
    box-shadow: #EA738D 0px 9px 20px, #CADCFC 0px 4px 112px;
    width: 90%;
    margin-top: 2rem;
    height: 17rem;
    }
    .nf-heading-caption{
        background-color: #CADCFC;
        width: 80%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 1rem;
        height: 3rem;
        border-radius: 2rem;
        box-shadow: #EA738D 0px 9px 20px, #CADCFC 0px 4px 112px;
    }
    .nf-heading{
        font-size: 1.7rem;
        font-family: "Noto Sans JP", sans-serif;
        color: #EA738D;
        user-select: none;
    }


    
    .nf-caption-field{
        justify-content: center;
        align-items: center;
        height: 45%;
        width: 80%;
        border-radius: 2rem;
        box-shadow: #EA738D 0px 9px 20px, #CADCFC 0px 4px 112px;
        padding: 1rem;
        margin-top: 1rem    ;
        display: flex;
        
    }

    .nf-caption-input{
       
        font-family: "Noto Sans JP", sans-serif;
    
        width: 90%;
        height: 80%;
        background: transparent;
        outline: none;
        border: none;
        font-size: 1rem;
        resize: none;
    
    }

    .nf-photos{
        display: flex;
        height: 29rem;
        width: 90%;
        margin-top: 2rem;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll;
    }
    .nf-add-photos{
        background-color: #EA738D;
        border-radius: 2rem;
  box-shadow: #EA738D 0px 9px 20px, #CADCFC 0px 4px 112px;
  transition: transform 0.4s ease;
  height: 2rem;
  margin: 0;
  margin-top: 0.8rem;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
    }

    .nf-add-photos:hover{
        transform: scale(1.1)
    }
    .nf-plus{
        width: 20%;
    }
    .nf-save{
        margin-bottom: 2%;
        margin-top: 3%;
        display: flex;
        align-items: center;
        width: 80%;
        height: 4rem;
        justify-content: center;
    }
    .nf-save-btn{
        display: flex;
        justify-content: center;
        align-items: center;
        box-shadow: #EA738D 0px 9px 20px, #CADCFC 0px 4px 112px;
        border: 4px solid #CADCFC;
        background-color: #EA738D;
        border-radius: 2rem;
        transition: transform 0.4s ease;
        height: 2.3rem;
        width: 100%;
    }
    
.nf-save-img{   
    width: 10%;
}
  }
  
  @media (min-width: 438px) {


    .nf-add-photos p{
        font-size: 1.5rem;
        color: #CADCFC;
        user-select: none;
    }

    .nf-add-photos{
        height: 4rem;
    }

    .nf-plus{
        width: 4rem;
    }

    .nf-save{
        height: 5rem;
    }

    .nf-save-btn{
        height: 3rem;
    }
    .nf-save-img{
        width: 2.8rem;
    }


  }
  

  @media (min-width: 1480px){
    .nf-add-photos{
        width: 40%;
    }
  }
